<div data-ng-hide="blackjack.game.isGameStarted()">
  <ol>
    <li>Click on the <em>New Game</em> link above or <a data-ng-click="app.openNewGameModal('sm')"><strong>here</strong></a></li>
    <li>Define the <strong>number of players</strong></li>
    <li>Finally that how many <strong>rounds</strong> you would like to play</li>
  </ol>
</div>

<div data-ng-show="blackjack.game.isGameStarted()">
  <h3>Dealer</h3>
  <div data-seed-player data-player="blackjack.game.getDealer()"></div>

  <h3 data-ng-bind="'Players (' + blackjack.game.getPlayers().length + ')'"></h3>
  <div data-seed-players data-game="blackjack.game"></div>
</div>

