<div data-ng-hide="blackjack.game.isGameStarted()">
  <ol>
    <li>Click on the <em>New Game</em> link above or <a data-ng-click="app.openNewGameModal('sm')"><strong>here</strong></a></li>
    <li>Define the <strong>number of players</strong></li>
    <li>Finally that how many <strong>rounds</strong> you would like to play</li>
  </ol>
</div>

<div data-ng-show="blackjack.game.isGameStarted()"> 
  <h3>Number of players: {{players.length}}</h3>
  <ol>
    <li data-ng-repeat="player in players = (blackjack.game.getPlayers() | filter : { isDealer: false})">
      <a data-ng-link="player({ id: player.getId() })" data-ng-bind="player.getName()"></a>
    </li>
    <li data-ng-show="players.length == 0">No players</li>
  </ol>
</div>

